<!DOCTYPE html>
<html>
<head>
  <title>Esküvői Fotósarok</title>
  <style>
    body {
      background-color: #ecf4f8;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }
    h1 {
      font-size: 9em;
      margin-bottom: 1em;
      color: #6495ed;
    }
    .touch {
      font-size: 5.5em;
      color: #6495ed;
    }
  </style>
</head>
<body onclick="location.href='/booth'">
  <div>
    <h1>Üdvözlünk a Fotósarokban!</h1>
    <div class="touch">Érintsd meg a kijelzőt a kezdéshez</div>
  </div>
</body>
</html>
